{# START: Site Header #}
<header role="banner">
</header>
{# /END: Site Header #}

<main role="main" class="sub-page">
  <h1 class="row page-title">{{ page.title }}</h1>
  <section class="row">{{ body }}</section>
</main>
