{# START: Site Header #}
<header role="banner" class="site-header parallax" gumby-parallax="0.5">
  <div class="row">
    <div class="twelve columns header-intro-wrap fadeUpIn">
      <h1 class="logo">{{ page.site_name }}</h1>
      <p>{{ page.title }}</p>
      <div class="header-signup">
        <a href="#homepage-video" class="btn-side">Learn More</a>
      </div>
    </div>
  </div>
  <div><p class="row header-image-credit">
    <small><em>Image by <a href="https://unsplash.com/photos/9GDa7nK_4q0">Mandy Beerley</a> on Unsplash</em></small>
  </p></div>
</header>
{# /END: Site Header #}

<main role="main" class="site-main-content homepage-main">
  <section class="site-section">
    <div id="homepage-video" class="row">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uZkGudvjNzw" gesture="media" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row row-top-padded">
      <p>When the critical infrastructure that so many of us take for granted goes away, how do we organize ourselves
        and our communities to respond?</p>
      <p>If recent ecological disasters have demonstrated anything, it is the inadequacy of existing models and tools to
        provide efficient allocation of resources, access to emergency communications, and effective coordination of
        human effort. Few if any solutions exist that are off-grid, affordable, reliable, easily deployed, and openly
        standardized.</p>
      <p><strong>disaster.radio</strong> addresses this problem.</p>
      <p><a class="btn-side text-center" href="/learn">Learn more</a> &nbsp;or&nbsp; <a class="btn-side text-center"
        href="/connect">get involved</a></p>
    </div>
  </section>
</main>
