{# START: Site Header #}
<header role="banner" class="site-header parallax" gumby-parallax="0.5">
  <div class="row">
    <div class="twelve columns header-intro-wrap fadeUpIn">
      <h1 class="logo">{{ page.site_name }}</h1>
      <p>{{ page.title }}</p>
      <div class="header-signup">
        <a href="/connect" class="btn-side">Get Involved</a>
      </div>
    </div>
  </div>
  <div><p class="row header-image-credit">
    <small><em>Image by <a href="https://unsplash.com/photos/9GDa7nK_4q0">Mandy Beerley</a> on Unsplash</em></small>
  </p></div>
</header>
{# /END: Site Header #}

<main role="main" class="site-main-content">
  <section id="demo" class="site-section section-testimonials">
    <div class="row">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oK0Zn1LqnVM" gesture="media" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</main>
