div#sub-page {
  margin-top: 20px;
}

//.page-title {
//  font-size: 36px;
//  font-size: 2.25rem;
//}

.navbar {
  background: $branding-purple;
  max-width: none;
  margin-bottom: 0;
  box-shadow: 1px 1px 6px #000;
}

.navbar ul {
  max-width: 1000px;
  margin: 0 auto;
}

sixteen.colgrid .row .pull_eight.twelve.columns {
  margin-bottom: 0px;
  background: $branding-green;
}

.navbar ul li > a {
  color: white;
  font-size: 18px;
  font-size: 1.1rem;
}

.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a {
  position: relative;
  background: #0a742a;
}

.navbar a.toggle:hover {
  background: #0a742a;
}

.navbar a.toggle:active, .navbar a.toggle.active {
  background: #0a742a;
}

.site-header {
  background-position: 50% 0px;
  background-image: url("../images/bg-lava.jpg");
  border-top: none;
  background-size: cover;
}

.header-image-credit {
  text-align: right;
  a {
    color: white;
    font-weight: bold;
  }
}

.header-intro-wrap {
  padding-bottom: 100px;
  text-align: center;
}

.btn-docs {
  background: $branding-green;
  border-color: $branding-green;
}

.btn-donate {
  background-color: #ca2470;
  display: inline-block
}

.footer-info a {
  color: white;
}

@media screen and (max-width: 468px) {
  .logo {
    font-size: 45px;
  }
  .btn-docs {
    border-color: $branding-green;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 20px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top: 50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//.sub-page {
//  padding-top: 60px;
//}

footer {
  margin-top: 2rem;
  color: #b7c4d4;
}

.homepage-main p {
  font-size: 24px;
}

.row-top-padded {
  padding-top: 60px;
}

p.large {
  font-size: 32px;
}

img.blog {
  display: block;
  margin: 0 auto;
}

.captioned {
  background-color: white;
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.caption {
  text-align: center;
  padding: 1rem 2rem;
  font-style: italic;
  font-size: 0.8rem;
}

.video-js {
  &.video-dimensions .vjs-big-play-button {
    height: 1.5em;
    left: calc(50% - 1.5em);
    top: calc(50% - .75em);
    width: 3em;
  }
}
