@import 'global/vars';
@import 'global/mixins';

@import 'lib/gumby';

@import 'custom';

img.blog {
  display: block;
  margin: 0 auto;
}

.captioned {
  background-color: white;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.caption {
  text-align: center;
  padding: 1rem 2rem;
  font-style: italic;
  font-size: 0.8rem;
}